.sidebarRegion__23e6b {
  flex: none;
}
.contentColumn__23e6b, .customColumn__23e6b {
    max-width: 100%;
    min-height: 100%;
}
.accountProfileCard__1fed1 .mask__68edb mask circle {
  display: none;
}
.avatar__1fed1 {
  top: 210px;

}
